head
  title Chat

body
  .chats
    +messages
    +people

  +form
  - scrollToBottom

template(name="message")
  li= body

template(name="authorLink")
  a.author(href="#{link}" target="_blank" style="color: #{color};")
    .img-wrap
      img(src="#{avatar}")
    = name

template(name="messageHeader")
  li
    hr
    +authorLink author
    time(datetime=createdAt)= createdAt

template(name="messages")
  ul.messages
    each messages
      +messageHeader
      +messageClump

template(name="messageClump")
  each this
    +message

template(name="person")
  li
    +authorLink

template(name="people")
  ul.online
    each people
      +person

template(name="form")
  form
    input(placeholder="Type to chat...")
    button Send
